@tailwind base;
@tailwind components;
@tailwind utilities;


.tilted-card-demo-text {
  text-transform: capitalize;
  color: #fff;
  letter-spacing: -.5px;
  background: #0006;
  border-radius: 15px;
  margin: 1em 5em;
  padding: .5rem 1em;
  font-family: Figtree;
  font-weight: 900;
  box-shadow: 0 5px 30px #06001059; 
  }

